<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bullshit.endpoint.dao.DepartmentExtMapper" >
  <resultMap id="BaseResultMap" type="com.bullshit.endpoint.entity.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="isactive" property="isactive" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="com.bullshit.endpoint.entity.Department">
    select 
    id, isactive, name, description, ctime, mtime
    from department
    <if test="name != null" >
        where name = #{name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>